.uc-simple-discount-original {
  text-decoration: line-through;
  display: inline;
  margin-right: 5px;
}

#discount-title {
  font-weight: bold;
  margin-right: 4px;
}

#order-pane-uc_simple_discount_admin {
  border: 1px solid #bbb;
  padding: 10px;
}

.line-item-uc_simple_discount {
  background: lightgrey;
  border-top: 1px solid #bbb;
}

#line-items-div .line-item-uc_simple_discount .title {
  font-weight: normal;
}
